@model ViewmMODeElMASTER
@{
    ViewData["Title"] = "AddEditRolesUser";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@* <div class="page-wrapper cardhead">
    <div class="content container-fluid">

        <div class="col-xl-12">
            <div class="card">
                <form class="frm-single" method="post" asp-controller="Accounts" asp-action="ChangePassword1" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="UserId" />

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">

                                <input type="hidden" asp-for="returnUrl" id="url">
                                <h5 class="card-title">@Model.UserName</h5>


                            </div>

                            <label class="col-form-label col-md-2">sUser Id</label>
                            <div class="col-md-10">
                                <input asp-for="sUser.Id" type="text" class="form-control" readonly>


                                <div>
                                    <label class="col-form-label col-md-2">User Email</label>
                                    <div class="col-md-10">
                                        <input asp-for="sUser.Email" type="text" class="form-control" readonly>
                                        <span asp-validation-for="sUser.Email"></span>
                                    </div>
                                    <div>
                                        <label class="col-form-label col-md-2">New Password</label>
                                        <div class="col-md-10">
                                            <input asp-for="SChangePassword.NewPassword" type="password" class="form-control">
                                            <span asp-validation-for="SChangePassword.NewPassword"></span>
                                        </div>

                                    </div>


                                    <div>
                                        <label class="col-form-label col-md-2">Compare Password</label>
                                        <div class="col-md-10">
                                            <input asp-for="SChangePassword.ComparePassword" type="password" class="form-control">
                                            <span asp-validation-for="SChangePassword.NewPassword"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>








                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>




                </form>
            </div>
        </div>
    </div>
</div>

 *@







    <div class="page-wrapper cardhead">
        <div class="content container-fluid">
            <form class="frm-single" method="post" asp-controller="Accounts" asp-action="ChangePassword1" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="UserId" />
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">Basic Inputs</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Basic Inputs</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Basic Inputs</h5>
                        </div>

                        <div class="card-body">


                            <input type="hidden" asp-for="returnUrl" id="url">
                            <input type="hidden" asp-for="sUser.Id">


                            <div class="card-content">
                                <div class="row small-spacing">
                                    <div class="col-lg-6 col-xs-6">
                                        <label for="exampleInputEmail1">id</label>
                                        <input asp-for="sUser.Id" type="text" class="form-control" readonly>
                                        <span asp-validation-for="sUser.Id" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label for="exampleInputEmail1"> Name</label>
                                        <input asp-for="sUser.Name" type="text" class="form-control" readonly>
                                        <span asp-validation-for="sUser.Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="card-content">
                                <div class="row small-spacing">
                                    <div class="col-lg-6 col-xs-6">
                                        <label for="exampleInputEmail1">New Password</label>
                                        <input asp-for="SChangePassword.NewPassword" type="password" class="form-control">
                                        <span asp-validation-for="SChangePassword.NewPassword" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label for="exampleInputEmail1">Compare Password</label>
                                        <input asp-for="SChangePassword.ComparePassword" type="password" class="form-control">
                                        <span asp-validation-for="SChangePassword.ComparePassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>



                     


                        </div>



                    </div>
                    <div class="d-grid gap-2 mb-4">
                        <button class="btn btn-secondary" type="submit">@ResourceWeb.lbSave</button>
                    </div>


                </div>
              
            </div>
          



        </form>
        </div>
 
    </div>

 

@section Scripts {
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src); // free memory
            }
        };
    </script>
}




